* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(110deg, #2659be, #12a059);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  box-shadow: #555 10px 10px 10px 10px;
}
.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  width: 50px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  box-shadow: #555 5px 5px 5px;
  transition: ease-out 0.5s;
}

.row:hover {
  box-shadow: #555 10px 10px 10px;
  transition: ease-in 0.5s;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: linear-gradient(60deg, #2c6ae7, #12e079);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  transition: ease-out 0.5s;
}

button:active {
  transform: scale(1.1);
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through rgb(50, 112, 205);
}

ul li.checked::before {
  background-image: url(images/checkmark.png);
}
/* ul li span is the css for an x */
ul li span {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  top: 5px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}
ul li span:hover {
  background: #edeef0;
  border-radius: 50%;
}

.counter {
  display: flex;
  justify-content: center;
  position: relative;
  color: rgb(209, 217, 230);
  margin: auto;
}

.num {
  font-size: 2rem;
  color: #12e079;
  background-color: linear-gradient(60deg, #2c6ae7, #12e079);
  border: none;
  border-radius: 20%;
  outline: none;
  width: 100px;
  margin-left: 47%;
  text-align: center;
  box-shadow: inset #555 5px 5px 10px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100vmin;
    height: 115vmin;
  }
  .todo-app {
    font-size: 1rem;
  }
}
